@import '~antd/dist/antd.css';

body {
    min-width: fit-content;
    background: rgb(126,126,246);
    background: linear-gradient(184deg, rgba(126,126,246,1) 39%, rgba(40,40,227,1) 65%, rgba(0,212,255,1) 98%);
    font-family: 'Roboto', sans-serif;
}

.ant-card {
    margin: 13%;
    color: #ffffff;
}

.ant-input {
    background-color: transparent;
    color: #ffffff;
}

.ant-card-bordered {
    border: none;
}

.ant-card-head {
    border-bottom: none;
}

.ant-col-24 {
    max-width: 40%;
}