html {   
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: "#70bg32";
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(360deg, rgba(1,92,111,1) 0%, rgba(5,163,195,1) 65%, rgba(0,212,255,1) 98%);
    background: -moz-linear-gradient(360deg, rgba(1,92,111,1) 0%, rgba(5,163,195,1) 65%, rgba(0,212,255,1) 98%);
    background: -ms-linear-gradient(360deg, rgba(1,92,111,1) 0%, rgba(5,163,195,1) 65%, rgba(0,212,255,1) 98%);
    background: -o-linear-gradient(360deg, rgba(1,92,111,1) 0%, rgba(5,163,195,1) 65%, rgba(0,212,255,1) 98%);
    background: linear-gradient(360deg, rgba(1,92,111,1) 0%, rgba(5,163,195,1) 65%, rgba(0,212,255,1) 98%);
}